<html>
    <body>
        <form action="onStartGame">
            <br>
                <input type="radio" name="team_a" value="BLANC"> BLANCS
                <input type="radio" name="team_a" value="BLEU"> BLEUS
                <input type="radio" name="team_a" value="ROUGE"> ROUGES
                <input type="radio" name="team_a" value="VERT"> VERTS
            </br>
            VS
            <br>
                <input type="radio" name="team_b" value="BLANC"> BLANCS
                <input type="radio" name="team_b" value="BLEU"> BLEUS
                <input type="radio" name="team_b" value="ROUGE"> ROUGES
                <input type="radio" name="team_b" value="VERT"> VERTS
            </br>
            <div>
                <button>Start game</button>
            </div>
        </form>
    </body>
</html>