<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/new_game.css') }}">
    <body class='main'>
        <h1>ABOBOT</h1>
        <h2>Sélectionne les équipes pour le match</h2>
        <form action="onStartGame" class="team-chooser">
            <div class='team-row'>
                <label>
                    <input type="radio" name="team_a" value="VERT" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/vert.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_a" value="ROUGE" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/rouge.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_a" value="BLEU" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/bleu.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_a" value="BLANC" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/blanc.png')}}">
                </label>
            </div>
            <h2>VS</h2>
            <div class='team-row'>
                <label>
                    <input type="radio" name="team_b" value="VERT" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/vert.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_b" value="ROUGE" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/rouge.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_b" value="BLEU" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/bleu.png')}}">
                </label>
                <label>
                    <input type="radio" name="team_b" value="BLANC" checked>
                    <img class='team' src="{{ url_for('static', filename='assets/blanc.png')}}">
                </label>
            </div>
            <div>
                <button class='start-button'>Start game</button>
            </div>
        </form>
    </body>
</html>